@{
    ViewData["Title"] = "Contact Page";
}

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img src="~/images/library.jpg"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Library One" />

            <img src="~/images/library2.jpg"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Library Two" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="~/images/library3.jpg"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Library Three" />
            <img src="~/images/library4.jpg"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Library 4" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="~/images/library5.jpg"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Library 5" />
            <img src="~/images/library6.jpg"
                 class="w-100 shadow-1-strong rounded mb-4"
                 alt="Library 6" />
        </div>
    </div>
</div>

