@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@if(User.IsInRole("Admin"))
{
   <nav class ="navbar bg-white">
        <ul class ="nav navbar-nav">
            <li class ="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Reservations" asp-action="Index"><i class="bi bi-window"> Reservations List</i></a>
            </li>
            <li class ="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Reservations" asp-action="BookingInCurrentMonth"><i class="bi bi-calendar3"> Booking in this Month</i></a>
            </li>
            <li class ="nav-item">
                  <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Index"><i class="bi bi-book"> Books List</i></a>
            </li>
            <li class ="nav-item">
                  <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="CreateBook"><i class="bi bi-database-add"> Add New Book</i></a>
            </li>
             <li class ="nav-item">
                  <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index"><i class="bi bi-person-circle"> User Managment</i></a>
            </li>
        </ul>
    </nav>
}
