
@{
    ViewData["Title"] = "Index";
}

<h2 class="text-center">Generate Documents</h2>

<div class="card">
    <div class="card-body text-center">
        <h2>Generate PDF</h2>

        <a href="@Url.Action("GenerateBookListPDF", "Documents")" class="btn btn-primary">Generate Book List PDF</a>
        <br/>
        <br/>
        <a href="@Url.Action("GenerateBookingListPDF", "Documents")" class="btn btn-primary">Generate Booking List PDF</a>
    </div>
</div>

