@using LibraryManagmentSystem.Application.DTO;
@model BookDto


<h1>Add new Book to the Library</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form action="/Books/CreateBook" method="post">
            <div class="form-group mb-3">
                <label class="control-label" for="Name">Book Name</label>
                <input class="form-control" type="text" id="Name" asp-for="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
             <div class="form-group mb-3">
                <label class="control-label" for="Author">Author</label>
                <input class="form-control" type="text" id="Author" asp-for="Author" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
             <div class="form-group mb-3">
                <label class="control-label" for="Genre">Genre</label>
                <input class="form-control" type="text" id="Genre" asp-for="Genre" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
             <div class="form-group mb-3">
                <label class="control-label" for="Date">Published Date</label>
                <input class="form-control" type="date" id="Date" asp-for="PublishedDate" />
                <span asp-validation-for="PublishedDate" class="text-danger"></span>
            </div>
             <div class="form-group mb-3">
                 <input type="submit" value="Add Book" class="btn btn-primary" />
             </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
