@using LibraryManagmentSystem.Application.Commands;
@model CreateBookCommand;


<h1>Add new Book to the Library</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form action="/Books/CreateBook" method="post">
            <div class="form-group mb-3">
                <label class="control-label" for="Name">Book Name</label>
                <input class="form-control" type="text" id="Name" asp-for="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
             <div class="form-group mb-3">
                <label class="control-label" for="Author">Author</label>
                <input class="form-control" type="text" id="Author" asp-for="Author" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
             <div class="form-group mb-3">
                <label class="control-label" for="Genre">Genre</label>
                <select class="form-select" id="Genre" asp-for="Genre">
                    <option value="SciFi">Sci-Fi</option>
                    <option value="Fantasy">Fantasy</option>
                    <option value="Action_Adventure">Action & Adventure</option>
                    <option value="LiteraryFiction">Literary Fiction</option>
                    <option value="Romance">Romance</option>
                    <option value="Thriller">Thriller</option>
                    <option value="Biographies">Biographies</option>
                </select>
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
             <div class="form-group mb-3">
                 <label class="control-label" for="PublishedHouse">Published House</label>
                @Html.DropDownListFor(x => x.PublishedHouseId, (IEnumerable<SelectListItem>)ViewBag.PublishedHouses,"Select House", new {@class = "form-control"})
            </div>
            <div class="form-group mb-3">
                <label class="control-label" for="Date">Published Date</label>
                <input class="form-control" type="date" id="Date" asp-for="PublishedDate" />
                <span asp-validation-for="PublishedDate" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="control-label" for="Description">Description</label>
                <textarea class="form-control" id="Description" asp-for="Description" rows="4"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="control-label" for="Count">Count</label>
                <input class="form-control" type="number" id="Count" asp-for="Count" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                 <input type="submit" value="Add Book" class="btn btn-primary" />
             </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
